* {
    font-family: Arial;
}

body {
    background-color: lightblue;
}

img {
    width: 200px;
    height: 200px;
}

div {
    margin: auto;
}

#me {
    border-style: solid;
    border-color: black;
    width: 50%;
    text-align: center;
}

.child {
    border-style: solid;
    border-color: black;
    background-color: greenyellow;
    width: 50%;
    text-align: center;
}